<style>

@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  background-color: aqua;
  border: 7px solid red
}

h1 {
  color: blue;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  border:9px solid green
}

h2 {
  color: orange;
  text-align: left;
  border: 10px solid blue
}

p {
  font-size: 20px;
  border:11px solid yellow
}
</style>

img{
width:155px
height:180px
}
