<style>

@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  background-color: aqua;
  
}

h1 {
  color: blue;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  border: 7px solid green;

}

h2 {
  color: orange;
  text-align: left;
  

}

p {
  font-size: 20px;
}

img{
  width:150px;
  height:150px;
}
</style>
